@font-face {
  /* 自己定義引用時的名稱 */
  font-family: "Open Huninn";
  /* 把字體引用進來，3個都要 */
  src: url("../font/jf-openhuninn-1.1.ttf") format("woff"),
    url("../font/jf-openhuninn-1.1.ttf") format("truetype"),
    url("../font/jf-openhuninn-1.1.ttf") format("embedded-opentype");
}